{% extends 'base.html' %}

{% block title %}Delete Area{% endblock %}

{% block content %}
    <h1>Delete Area</h1>
    <p>Are you sure you want to delete the area "{{ object.name }}" in {{ object.city.name }}?</p>
    {% if object.sub_areas.exists %}
        <p><strong>Warning:</strong> This area has sub-areas. Deleting it will also delete all its sub-areas.</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm Delete</button>
    </form>
    <a href="{% url 'area_list' %}">Cancel</a>
{% endblock %}