{% extends 'base.html' %}

{% block title %}Areas{% endblock %}

{% block content %}
    <h1>Areas</h1>
    <a href="{% url 'area_create' %}">Add New Area</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Parent Area</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td>{{ area.name }}</td>
                <td>{{ area.city.name }}</td>
                <td>{{ area.parent_area.name|default:"N/A" }}</td>
                <td>
                    <a href="{% url 'area_update' area.pk %}">Edit</a>
                    <a href="{% url 'area_delete' area.pk %}">Delete</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No areas found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}