{% extends "partials/base.html" %} {% load static %} {% block title %}Delete Quota{% endblock title %} {% block content %}
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      {% block pagetitle %}
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Delete Quota</h4>
          </div>
        </div>
      </div>
      {% endblock pagetitle %}

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <p>Are you sure you want to delete the quota "{{ object.name }}"?</p>
              <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Confirm Delete</button>
                <a href="{% url 'cdr3cx:quota_list' %}" class="btn btn-secondary">Cancel</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block footer %} {% include "partials/footer.html" %} {% endblock footer %}
</div>
{% endblock content %}
