{% extends 'base.html' %}

{% block content %}
  <h1>Assign Service: {{ service.name }}</h1>
  <form method="post">
    {% csrf_token %}
    <label for="technician">Select Technician:</label>
    <select name="technician" id="technician">
      {% for technician in technicians %}
        <option value="{{ technician.id }}">{{ technician.mobile }}</option>
      {% endfor %}
    </select>
    <button type="submit">Assign</button>
  </form>
  <a href="{% url 'service_detail' service.pk %}">Cancel</a>
{% endblock %}