<!DOCTYPE html>
<html>
<head>
    <title>Set New Password</title>
</head>
<body>
    <h1>Set New Password</h1>
    <form method="post">
        {% csrf_token %}
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password">
        <label for="password_confirm">Confirm New Password:</label>
        <input type="password" id="password_confirm" name="password_confirm">
        <button type="submit">Set Password</button>
    </form>
</body>
</html>
