{% extends "partials/base.html" %} {% load custom_filters %} {% load static %} {% block title %}Dashboard{% endblock title %} {% block extra_css %}
<!-- jsvectormap css -->
<link href="{% static 'libs/jsvectormap/dist/css/jsvectormap.min.css'%}" rel="stylesheet" type="text/css" />

<!--Swiper slider css-->
<link href="{% static 'libs/swiper/swiper-bundle.min.css'%}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
{% endblock extra_css %} {% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      {% block pagetitle %} {% endblock pagetitle %}
      <div class="row">
        <div class="col">
          <div class="h-100">
            <div class="row mb-3 pb-1">
              <div class="col-12">
                <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                  <div class="flex-grow-1">
                    <h4 class="fs-16 mb-1">Welcome Back, Smasco!</h4>
                    <p class="text-muted mb-0">Here's what's happening with your store today.</p>
                  </div>
                  <div class="mt-3 mt-lg-0">
                    <form id="timePeriodForm" action="{% url 'cdr3cx:dashboard' %}" method="GET">
                      <div class="row g-3 mb-0 align-items-center">
                        <div class="col-auto">
                          <div>
                            <button type="button" class="btn btn-soft-secondary material-shadow-none btn-sm" onclick="submitForm('today')">Today</button>
                            <button type="button" class="btn btn-soft-secondary material-shadow-none btn-sm" onclick="submitForm('7d')">7D</button>
                            <button type="button" class="btn btn-soft-secondary material-shadow-none btn-sm" onclick="submitForm('1m')">1M</button>
                            <button type="button" class="btn btn-soft-secondary material-shadow-none btn-sm" onclick="submitForm('6m')">6M</button>
                            <button type="button" class="btn btn-soft-primary material-shadow-none btn-sm" onclick="submitForm('1y')">1Y</button>
                            <input type="hidden" name="time_period" id="timePeriodInput" />
                          </div>
                        </div>
                        <!--end col-->
                        <div class="col-auto">
                          <div class="input-group">
                            <input type="text" class="form-control border-0 minimal-border dash-filter-picker shadow flatpickr-input" name="custom_date" id="customDateInput" data-provider="flatpickr" data-range-date="true" data-date-format="d M, Y" placeholder="Select custom date range" value="{{ custom_date_range }}" />
                            <div class="input-group-text bg-primary border-primary text-white">
                              <i class="ri-calendar-2-line"></i>
                            </div>
                          </div>
                        </div>
                        <!--end col-->
                        <div class="col-auto">
                          <button type="submit" class="btn btn-soft-info btn-icon waves-effect waves-light material-shadow-none layout-rightside-btn">
                            <i class="ri-pulse-line"></i>
                          </button>
                        </div>
                        <!--end col-->
                      </div>
                      <!--end row-->
                    </form>
                  </div>

                  <script>
                    function submitForm(timePeriod) {
                      document.getElementById("timePeriodInput").value = timePeriod;
                      document.getElementById("timePeriodForm").submit();
                    }
                  </script>
                </div>
                <!-- end card header -->
              </div>
              <!--end col-->
            </div>
            <!--end row-->

            <div class="row">
              <div class="col-xl-3 col-md-6">
                <!-- card -->
                <div class="card card-animate">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Total Calls</p>
                      </div>
                      <div class="flex-shrink-0">
                        <h5 class="text-success fs-14 mb-0"><i class="ri-arrow-right-up-line fs-13 align-middle"></i> {{ total_call_cost|floatformat:2 }} SAR</h5>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                      <div>
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value" data-target="{{ total_calls }}">0</span></h4>
                        <a href="{% url 'cdr3cx:all_calls' %}" class="text-decoration-underline">View all Calls</a>
                      </div>
                      <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-success-subtle rounded fs-3">
                          <i class="fas fa-phone-alt text-success"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- end card body -->
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->

              <div class="col-xl-3 col-md-6">
                <!-- card -->
                <div class="card card-animate">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Local Calls</p>
                      </div>
                      <div class="flex-shrink-0">
                        <h5 class="text-danger fs-14 mb-0"><i class="ri-arrow-right-down-line fs-13 align-middle"></i> {{ local_call_cost|floatformat:2 }} SAR</h5>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                      <div>
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value" data-target="{{total_local_calls }}">0</span></h4>
                        <a href="{% url 'cdr3cx:outgoing' %}" class="text-decoration-underline">See Details</a>
                      </div>
                      <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-info-subtle rounded fs-3">
                          <i class="fas fa-phone-alt text-info"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- end card body -->
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->

              <div class="col-xl-3 col-md-6">
                <!-- card -->
                <div class="card card-animate">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Incoming Calls</p>
                      </div>
                      <div class="flex-shrink-0">
                        <h5 class="text-success fs-14 mb-0"><i class="ri-arrow-right-up-line fs-13 align-middle"></i> +29.08 %</h5>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                      <div>
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value" data-target="{{ total_national_mobile_calls }}">0</span></h4>
                        <a href="{% url 'cdr3cx:incoming' %}" class="text-decoration-underline">See details</a>
                      </div>
                      <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-warning-subtle rounded fs-3">
                          <i class="bx bx-mobile-alt text-info"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- end card body -->
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->

              <div class="col-xl-3 col-md-6">
                <!-- card -->
                <div class="card card-animate">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0">International Calls</p>
                      </div>
                      <div class="flex-shrink-0">
                        <h5 class="text-muted fs-14 mb-0">{{ international_call_cost|floatformat:2 }} SAR</h5>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                      <div>
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value" data-target="{{ total_international_calls }}">0</span></h4>
                        <a href="{% url 'cdr3cx:outgoing_international' %}" class="text-decoration-underline">View International Calls</a>
                      </div>
                      <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-primary-subtle rounded fs-3">
                          <i class="bx bx-globe text-primary"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- end card body -->
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row-->

            <div class="row">
              <div class="col-xl-8">
                <div class="card">
                  <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Calls Statistics</h4>
                    <div class="flex-shrink-0">
                      <div class="dropdown card-header-dropdown">
                        <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="fw-semibold text-uppercase fs-12">Sort by: </span><span class="text-muted">{{ sort_by|default:"Amount" }}<i class="mdi mdi-chevron-down ms-1"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item {% if sort_by == 'amount' %}active{% endif %}" href="?sort_by=amount{% if time_period %}&time_period={{ time_period }}{% endif %}{% if custom_date_range %}&custom_date={{ custom_date_range }}{% endif %}">Amount</a>
                          <a class="dropdown-item {% if sort_by == 'calls' %}active{% endif %}" href="?sort_by=calls{% if time_period %}&time_period={{ time_period }}{% endif %}{% if custom_date_range %}&custom_date={{ custom_date_range }}{% endif %}">No. Of Calls</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end card header -->

                  <div class="card-body">
                    <div class="table-responsive table-card">
                      <table class="table table-hover table-centered align-middle table-nowrap mb-0">
                        <tbody>
                          {% for stat in caller_stats|slice:":10" %}
                          <tr data-href="{% url 'cdr3cx:caller_calls' stat.caller %}" style="cursor: pointer">
                            <td>
                              <div class="d-flex align-items-center">
                                <div class="avatar-sm rounded p-1 me-2 d-flex align-items-center justify-content-center">
                                  {% with from_dispname=stat.from_dispname|default:"Caller Name" %} {% with name_parts=from_dispname.split %}
                                  <div class="text-center" style="line-height: 1.2">
                                    <div class="fw-bold" style="font-size: 0.8em">{{ name_parts.0 }}</div>
                                    <div class="small" style="font-size: 0.7em">{% if name_parts|length > 2 %} {{ name_parts|slice:"1:3"|join:" " }} {% else %} {{ name_parts|slice:"1:"|join:" " }} {% endif %}</div>
                                  </div>
                                  {% endwith %} {% endwith %}
                                </div>

                                <div>
                                  <h5 class="#">
                                    <a href="{% url 'cdr3cx:caller_calls' stat.caller %}" class="text-reset">{{ stat.caller }}</a>
                                  </h5>
                                  <span class="text-muted"> {% if time_period == 'today' %} Today {% elif time_period == '7d' %} Last 7 Days {% elif time_period == '1m' %} Last Month {% elif time_period == '6m' %} Last 6 Months {% elif time_period == '1y' %} Last Year {% elif time_period == 'custom' %} {{ start_date|date:"d M, Y" }} to {{ end_date|date:"d M, Y" }} {% else %} {{ stat.call_time|date:"d M, Y" }} {% endif %} </span>
                                </div>
                              </div>
                            </td>
                            <td>
                              <h5 class="fs-14 my-1 fw-normal">{{ stat.total_calls }} Calls</h5>
                              <span class="text-muted">{{ stat.total_duration|format_duration }}</span>
                            </td>
                            <td>
                              <h5 class="fs-14 my-1 fw-normal">{{ stat.external_calls }} External Calls {{ stat.total_cost }} SAR</h5>
                              <span class="text-muted">{{ stat.external_duration|format_duration}}</span>
                            </td>
                            <td>
                              <h5 class="fs-14 my-1 fw-normal">{{ stat.company_calls }} Company Calls</h5>
                              <span class="text-muted">{{ stat.company_duration|format_duration }}</span>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end col -->
              <div class="col-xl-4">
                <div class="card card-height-100">
                  <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Calls Ratio</h4>
                    <div class="flex-shrink-0">
                      <div class="dropdown card-header-dropdown">
                        <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="text-muted">Report<i class="mdi mdi-chevron-down ms-1"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" href="#">Download Report</a>
                          <a class="dropdown-item" href="#">Export</a>
                          <a class="dropdown-item" href="#">Import</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end card header -->

                  <div class="card-body">
                    <div class="card-body">
                      <div id="calls-ratio-chart" class="apex-charts" dir="ltr"></div>
                      <div class="text-center mt-2">
                        <h4 id="selected-ratio-title">Total Calls</h4>
                        <p class="mb-0">
                          <span id="selected-ratio-value">{{ total_calls }}</span>
                          (<span id="selected-ratio-percentage">100%</span>)
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- .card-->
              </div>
              <!-- .col-->
            </div>
          </div>
          <!-- end .h-100-->
        </div>
        <!-- end col -->

        <div class="col-auto layout-rightside-col">
          <div class="overlay"></div>
          <div class="layout-rightside">
            <div class="card h-100 rounded-0">
              <div class="card-body p-0">
                <div class="p-3">
                  <h6 class="text-muted mb-0 text-uppercase fw-semibold">Recent Call Activity</h6>
                </div>
                <div data-simplebar style="max-height: 410px" class="p-3 pt-0">
                  <div class="acitivity-timeline acitivity-main">
                    <div class="acitivity-item d-flex">
                      <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                        <div class="avatar-title bg-success-subtle text-success rounded-circle">
                          <i class="ri-shopping-cart-2-line"></i>
                        </div>
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <h6 class="mb-1 lh-base">Caller Number</h6>
                        <small class="mb-0 text-muted">02:14 PM Today</small>
                      </div>
                    </div>
                    <div class="acitivity-item py-3 d-flex">
                      <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                        <div class="avatar-title bg-danger-subtle text-danger rounded-circle">
                          <i class="ri-stack-fill"></i>
                        </div>
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <h6 class="mb-1 lh-base">Called <span class="fw-semibold">style Number</span></h6>

                        <p class="mb-0 text-muted"><small>9:47 PM Yesterday</small></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="p-3 mt-2">
                  <h6 class="text-muted mb-3 text-uppercase fw-semibold">Top 10 Countries</h6>
                  <ol class="ps-3 text-muted">
                    {% for country, count in top_talking_countries %}
                    <li class="py-1">
                      <a href="{% url 'cdr3cx:country_specific_calls' country|slugify %}" class="text-muted">{{ country }}<span class="float-end">({{ count }})</span></a>
                    </li>
                    {% endfor %}
                  </ol>
                  <div class="mt-3 text-center">
                    <a href="{% url 'cdr3cx:outgoing_international' %}" class="text-decoration-underline">View International Calls</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- end card-->
          </div>
          <!-- end .rightbar-->
        </div>
        <!-- end col -->
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
  {% block footer %} {% include "partials/footer.html" %} {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %} {% block extra_js %}
<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

<!-- Vector map-->
<script src="{% static 'libs/jsvectormap/dist/js/jsvectormap.min.js'%}"></script>
<script src="{% static 'libs/jsvectormap/dist/maps/world-merc.js'%}"></script>

<!--Swiper slider js-->
<script src="{% static 'libs/swiper/swiper-bundle.min.js'%}"></script>

<!-- Dashboard init -->
<script src="{% static 'js/pages/dashboard-ecommerce.init.js'%}"></script>
<script>
  function submitForm(period) {
    document.getElementById("timePeriodInput").value = period;
    document.getElementById("customDateInput").value = "";
    document.getElementById("timePeriodForm").submit();
  }

  document.addEventListener("DOMContentLoaded", function () {
    flatpickr("#customDateInput", {
      mode: "range",
      dateFormat: "d M, Y",
      onChange: function (selectedDates, dateStr, instance) {
        if (selectedDates.length === 2) {
          document.getElementById("timePeriodInput").value = "custom";
          document.getElementById("timePeriodForm").submit();
        }
      },
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
      var callStats = {{ call_stats|safe }};
      console.log("Call stats:", callStats);

      if (callStats.length === 0) {
          console.error("No call stats data available");
          document.querySelector("#calls-chart").innerHTML = "No data available for the selected time period.";
          return;
      }

      var options = {
          series: [
              {
                  name: 'Total Calls',
                  type: 'column',
                  data: callStats.map(stat => stat.total_calls)
              },
              {
                  name: 'Local Calls',
                  type: 'line',
                  data: callStats.map(stat => stat.local_calls)
              },
              {
                  name: 'International Calls',
                  type: 'line',
                  data: callStats.map(stat => stat.international_calls)
              }
          ],
          chart: {
              height: 350,
              type: 'line',
              toolbar: {
                  show: false
              }
          },
          stroke: {
              width: [0, 3, 3],
              curve: 'smooth',
              dashArray: [0, 0, 5]
          },
          plotOptions: {
              bar: {
                  columnWidth: '50%'
              }
          },
          colors: ['#556ee6', '#34c38f', '#f46a6a'],
          dataLabels: {
              enabled: false
          },
          labels: callStats.map(stat => {
              let date = new Date(stat.period);
              return date.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
          }),
          xaxis: {
              type: 'datetime'
          },
          yaxis: [
              {
                  title: {
                      text: 'Number of Calls',
                  },
              }
          ],
          tooltip: {
              shared: true,
              intersect: false,
          },
          legend: {
              show: true
          }
      };

      try {
          var chart = new ApexCharts(document.querySelector("#calls-chart"), options);
          chart.render();

          // Add event listeners for time period buttons
          document.querySelectorAll('.time-period-btn').forEach(button => {
              button.addEventListener('click', function() {
                  var period = this.dataset.period;
                  // Make an AJAX call to update the chart data
                  fetch("{% url 'cdr3cx:update_call_stats' %}?chart_time_period=" + period)
                      .then(response => response.json())
                      .then(data => {
                          console.log("Updated call stats:", data);
                          if (data.length === 0) {
                              console.error("No data available for the selected time period");
                              return;
                          }
                          chart.updateSeries([
                              { data: data.map(stat => stat.total_calls) },
                              { data: data.map(stat => stat.local_calls) },
                              { data: data.map(stat => stat.international_calls) }
                          ]);
                          chart.updateOptions({
                              labels: data.map(stat => {
                                  let date = new Date(stat.period);
                                  return date.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
                              })
                          });
                      })
                      .catch(error => console.error("Error updating chart:", error));
              });
          });
      } catch (error) {
          console.error("Error rendering chart:", error);
      }
  });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var options = {
            series: [
                {{ total_external_calls }},
                {{ total_international_calls }},
                {{ total_national_mobile_calls }},
                {{ total_national_calls }}
            ],
            chart: {
                height: 350,
                type: 'donut',
                events: {
                    dataPointSelection: function(event, chartContext, config) {
                        var selectedLabel = config.w.config.labels[config.dataPointIndex];
                        var selectedValue = config.w.config.series[config.dataPointIndex];
                        var total = config.w.config.series.reduce((a, b) => a + b, 0);
                        var percentage = ((selectedValue / total) * 100).toFixed(1);

                        document.querySelector("#selected-ratio-title").textContent = selectedLabel;
                        document.querySelector("#selected-ratio-value").textContent = selectedValue;
                        document.querySelector("#selected-ratio-percentage").textContent = percentage + '%';
                    }
                }
            },
            labels: ['External', 'International', 'National Mobile', 'National'],
            colors: ["#556ee6", "#34c38f", "#f46a6a", "#f1b44c"],
            plotOptions: {
                pie: {
                    donut: {
                        size: '70%',
                        background: 'transparent',
                        labels: {
                            show: true,
                            name: {
                                show: true,
                                fontSize: '22px',
                                fontFamily: 'Helvetica, Arial, sans-serif',
                                fontWeight: 600,
                                color: undefined,
                                offsetY: -10
                            },
                            value: {
                                show: true,
                                fontSize: '18px',
                                fontFamily: 'Helvetica, Arial, sans-serif',
                                fontWeight: 400,
                                color: undefined,
                                offsetY: 10,
                                formatter: function (val) {
                                    return val
                                }
                            },
                            total: {
                                show: true,
                                showAlways: true,
                                label: 'Total Calls',
                                fontSize: '22px',
                                fontFamily: 'Helvetica, Arial, sans-serif',
                                fontWeight: 600,
                                color: '#373d3f'
                            }
                        }
                    }
                }
            },
            legend: {
                show: true,
                position: 'bottom',
                horizontalAlign: 'center',
                floating: false,
                fontSize: '14px',
                fontFamily: 'Helvetica, Arial, sans-serif',
                formatter: function(seriesName, opts) {
                    return [seriesName, " - ", opts.w.globals.series[opts.seriesIndex]]
                }
            },
            dataLabels: {
                enabled: true,
                formatter: function (val, opts) {
                    return Math.round(val) + '%'
                },
                style: {
                    fontSize: '14px',
                    fontWeight: 'bold',
                    colors: ['#fff']
                },
                background: {
                    enabled: true,
                    foreColor: '#000',
                    padding: 4,
                    borderRadius: 2,
                    borderWidth: 1,
                    borderColor: '#fff',
                    opacity: 0.5,
                },
                dropShadow: {
                    enabled: false
                }
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        height: 300
                    }
                }
            }],
            noData: {
                text: 'No calls data available'
            }
        };

        // Filter out zero values
        options.series = options.series.filter((value, index) => {
            if (value === 0) {
                options.labels.splice(index, 1);
                options.colors.splice(index, 1);
                return false;
            }
            return true;
        });

        var chart = new ApexCharts(document.querySelector("#calls-ratio-chart"), options);
        chart.render();
    });

    document.addEventListener("DOMContentLoaded", function () {
      var callStats = {{ call_stats|safe }};
      var options = {
          series: [
              {
                  name: 'Total Calls',
                  type: 'column',
                  data: callStats.map(stat => stat.total_calls)
              },
              {
                  name: 'Local Calls',
                  type: 'line',
                  data: callStats.map(stat => stat.local_calls)
              },
              {
                  name: 'International Calls',
                  type: 'line',
                  data: callStats.map(stat => stat.international_calls)
              }
          ],
          chart: {
              height: 350,
              type: 'line',
              toolbar: {
                  show: false
              }
          },
          stroke: {
              width: [0, 3, 3],
              curve: 'smooth',
              dashArray: [0, 0, 5]
          },
          plotOptions: {
              bar: {
                  columnWidth: '50%'
              }
          },
          colors: ['#556ee6', '#34c38f', '#f46a6a'],
          dataLabels: {
              enabled: false
          },
          labels: callStats.map(stat => {
              let date = new Date(stat.period);
              return date.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
          }),
          xaxis: {
              type: 'datetime'
          },
          yaxis: [
              {
                  title: {
                      text: 'Number of Calls',
                  },
              }
          ],
          tooltip: {
              shared: true,
              intersect: false,
          },
          legend: {
              show: true
          }
      };

      var chart = new ApexCharts(document.querySelector("#calls-chart"), options);
      chart.render();

      // Add event listeners for time period buttons
      document.querySelectorAll('.time-period-btn').forEach(button => {
          button.addEventListener('click', function() {
              var period = this.dataset.period;
              // Make an AJAX call to update the chart data
              fetch(`/update-call-stats/?chart_time_period=${period}`)
                  .then(response => response.json())
                  .then(data => {
                      chart.updateSeries([
                          { data: data.map(stat => stat.total_calls) },
                          { data: data.map(stat => stat.local_calls) },
                          { data: data.map(stat => stat.international_calls) }
                      ]);
                      chart.updateOptions({
                          labels: data.map(stat => {
                              let date = new Date(stat.period);
                              return date.toLocaleDateString('en-US', { month: 'short', day: 'numeric' });
                          })
                      });
                  });
          });
      });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const rows = document.querySelectorAll("tr[data-href]");
    rows.forEach((row) => {
      row.addEventListener("click", function () {
        window.location.href = this.dataset.href;
      });
    });
  });
</script>
{% endblock extra_js %}
