{% extends "partials/base.html" %}
{% load custom_filters %}
{% load static %}
{% block title %}Incoming Calls{% endblock title %}
{% block extra_css %}
<!-- jsvectormap css -->
<link href="{% static 'libs/jsvectormap/dist/css/jsvectormap.min.css'%}" rel="stylesheet" type="text/css" />

<!--Swiper slider css-->
<link href="{% static 'libs/swiper/swiper-bundle.min.css'%}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
{% endblock extra_css %}
{% block content %}
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title mb-0">Incoming Calls</h5>
            </div>
            <div class="card-body">
              <div id="ajax-datatables_wrapper" class="dataTables_wrapper dt-bootstrap5">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="ajax-datatables_length">
                      <form method="GET" action="{% url 'cdr3cx:incoming' %}">
                        <label>Show
                          <select name="per_page" aria-controls="ajax-datatables" class="form-select form-select-sm" onchange="this.form.submit()">
                            <option value="10" {% if request.GET.per_page == '10' %}selected{% endif %}>10</option>
                            <option value="25" {% if request.GET.per_page == '25' %}selected{% endif %}>25</option>
                            <option value="50" {% if request.GET.per_page == '50' %}selected{% endif %}>50</option>
                            <option value="100" {% if request.GET.per_page == '100' %}selected{% endif %}>100</option>
                          </select>
                          entries
                        </label>
                      </form>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div id="ajax-datatables_filter" class="dataTables_filter">
                      <form method="GET" action="{% url 'cdr3cx:incoming' %}">
                        <label>Search:<input type="search" name="search" class="form-control form-control-sm" placeholder="" aria-controls="ajax-datatables" value="{{ request.GET.search }}" oninput="this.form.submit()"></label>
                        <input type="hidden" name="per_page" value="{{ request.GET.per_page }}">
                      </form>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table id="ajax-datatables" class="display table table-bordered dt-responsive dataTable dtr-inline" style="width: 100%" aria-describedby="ajax-datatables_info">
                      <thead>
                        <tr>
                          <th class="sorting sorting_asc" tabindex="0" aria-controls="ajax-datatables" rowspan="1" colspan="1" style="width: 25px" aria-label="Number: activate to sort column descending" aria-sort="ascending">#</th>
                          <th class="sorting" tabindex="0" aria-controls="ajax-datatables" rowspan="1" colspan="1" style="width: 200px" aria-label="DateTime: activate to sort column ascending">Date Time</th>
                          
                          <th class="sorting" tabindex="0" aria-controls="ajax-datatables" rowspan="1" colspan="1" style="width: 200px" aria-label="Caller: activate to sort column ascending">Caller</th>
                          <th class="sorting" tabindex="0" aria-controls="ajax-datatables" rowspan="1" colspan="1" style="width: 200px" aria-label="Called Number: activate to sort column ascending">Called Number</th>
                          <th class="sorting" tabindex="0" aria-controls="ajax-datatables" rowspan="1" colspan="1" style="width: 200px" aria-label="Called Number: activate to sort column ascending">Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for record in page_obj %}
                        <tr class="odd">
                          <td class="sorting_1 dtr-control" tabindex="0">{{ forloop.counter }}</td>
                          <td>{{ record.call_time|date:"d M, Y h:i A" }}</td>
                          
                          <td>{{ record.from_no|format_from_no }}</td>
                          <td>{{ record.callee }}</td>
                          <td>{{ record.duration|format_duration }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="ajax-datatables_info" role="status" aria-live="polite">
                      Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ paginator.count }} entries
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="ajax-datatables_paginate">
                      <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="paginate_button page-item previous" id="ajax-datatables_previous">
                          <a href="?page=1&per_page={{ request.GET.per_page }}" aria-controls="ajax-datatables" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                        </li>
                        <li class="paginate_button page-item previous" id="ajax-datatables_previous">
                          <a href="?page={{ page_obj.previous_page_number }}&per_page={{ request.GET.per_page }}" aria-controls="ajax-datatables" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item previous disabled" id="ajax-datatables_previous">
                          <a href="#" aria-controls="ajax-datatables" data-dt-idx="0" tabindex="0" class="page-link">First</a>
                        </li>
                        <li class="paginate_button page-item previous disabled" id="ajax-datatables_previous">
                          <a href="#" aria-controls="ajax-datatables" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        {% endif %}
                        
                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number|add:'-4' <= num <= page_obj.number|add:'4' %}
                        {% if page_obj.number == num %}
                        <li class="paginate_button page-item active">
                          <a href="?page={{ num }}&per_page={{ request.GET.per_page }}" aria-controls="ajax-datatables" data-dt-idx="{{ num }}" tabindex="0" class="page-link">{{ num }}</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item">
                          <a href="?page={{ num }}&per_page={{ request.GET.per_page }}" aria-controls="ajax-datatables" data-dt-idx="{{ num }}" tabindex="0" class="page-link">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                        <li class="paginate_button page-item next" id="ajax-datatables_next">
                          <a href="?page={{ page_obj.next_page_number }}&per_page={{ request.GET.per_page }}" aria-controls="ajax-datatables" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                        </li>
                        <li class="paginate_button page-item next" id="ajax-datatables_next">
                          <a href="?page={{ paginator.num_pages }}&per_page={{ request.GET.per_page }}" aria-controls="ajax-datatables" data-dt-idx="7" tabindex="0" class="page-link">Last</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item next disabled" id="ajax-datatables_next">
                          <a href="#" aria-controls="ajax-datatables" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                        </li>
                        <li class="paginate_button page-item next disabled" id="ajax-datatables_next">
                          <a href="#" aria-controls="ajax-datatables" data-dt-idx="7" tabindex="0" class="page-link">Last</a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
  {% block footer %} {% include "partials/footer.html" %} {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}
{% block extra_js %}
<!-- apexcharts -->
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

<!-- Vector map-->
<script src="{% static 'libs/jsvectormap/dist/js/jsvectormap.min.js'%}"></script>
<script src="{% static 'libs/jsvectormap/dist/maps/world-merc.js'%}"></script>

<!--Swiper slider js-->
<script src="{% static 'libs/swiper/swiper-bundle.min.js'%}"></script>

<!-- Dashboard init -->
<script src="{% static 'js/pages/dashboard-ecommerce.init.js'%}"></script>

<!-- DataTables init -->
<script>
    $(document).ready(function() {
        var table = $('#ajax-datatables').DataTable({
            "order": [],
            "columnDefs": [{
                "targets": [0],
                "orderable": false
            }]
        });

        // Custom search function
        $('#ajax-datatables_filter input').on('input', function() {
            table.search(this.value).draw();
        });
    });
</script>
{% endblock extra_js %}
